name: Lambda S3 Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from master branch
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
            
      - name: Install tools
        run: 
          dotnet tool install -g Amazon.Lambda.Tools
      
      - name: Push to S3 and create lambda
        run: 
          dotnet lambda deploy-function
          --region eu-central-1 
          --project-location BooksManagmentLambda/ChangeLogLambda 
          --function-name sqsChangeLambda
          --function-role lambda-role 
          --function-runtime dotnetcore3.1 
          --s3-bucket  lambda-bucket-books-v-luigfsddasf
